nav {
    height: 50px;
}

nav ul {
    list-style: none;
}

nav a {
    padding: 10px 10px;
    display: block;
    margin: auto;
    white-space: nowrap;
    text-decoration: none;
    color: white;
}

#ul_level_0 {
    height: 50px;
    padding: 0;
    margin: 0;
    display: inline-block;
    background-color: #525A3E;
}

#a_level_0 {
    height: 26px;
    padding: 12px 20px 12px 20px;
    color: white;
    font-size: larger;
}

#li_level_0:hover {
    /* background: #A07E36; */
    background: #919058;
}

#ul_level_1,
#ul_level_2 {
    display: none;
    position: absolute;
    padding: 0;
}

#li_level_0:hover>ul,
#li_level_1:hover>ul,
#li_level_2:hover>ul {
    display: block;
}

#li_level_1:last-child,
#li_level_2:last-child {
    border-bottom: none;
}

#li_level_1,
#li_level_2 {
    border-bottom: 1px solid #223024;
}

#a_level_1 {
    text-align: center;
    width: 120px;
}

#li_level_1 {
    background: #3F5843;
}

#li_level_2 {
    background-color: #344937;
}

#li_level_1:hover {
    background: #2A3B2D;
}

#li_level_2:hover {
    background: #223024;
}

#ul_level_2 {
    display: none;
    position: absolute;
    left: 140px;
    top: 0;
}