html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: rgb(176, 211, 222) !important;
    margin: 0 0 50px;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

nav .dropdown-item:hover {
    background-color: #e0e0e0;
}

nav .dropdown-item:active {
    background-color: #33a2b8;
}

.row, .card {
    margin-bottom: 10px !important;
}

.card {
    margin-left: 5px !important;
    margin-right: 5px !important;
    border-radius: 0 0 20px 20px;
}

.tooltip {
    font-size: 13px;
}

#marginLeftRight {
    margin-left: 5px;
    margin-right: 5px;
}

.opacity60 {
    background: rgba(255, 255, 255, .6) !important;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
}