@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600&subset=latin,cyrillic);
html {
    position: relative;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0 0 25px;
    background-color: cornsilk;
}

.header {
    position: fixed;
    top: 0;
    height: 50px;
    width: 100%;
    background-color: darkolivegreen;
}

.main {
    max-width: 1200px;
    margin: auto;
    margin-top: 50px;
    display: block;
    overflow: hidden;
}

.main_block {
    float: left;
    width: 65%;
}

.content {
    background-color: chocolate;
    margin-top: 10px;
}

.side_left {
    float: left;
    width: 15%;
}

.content,
.side_left_content,
.side_right_content {
    margin: 10px;
    border-radius: 15px;
    padding: 15px 5px;
}

.side_left_content {
    background-color: greenyellow;
}

.side_left_content div {
    text-align: center;
}

.side_left_content img {
    height: auto;
    margin: 20px 0;
    max-width: 100px;
    width: 50%;
}

.side_right {
    float: left;
    width: 20%;
}

.side_right_content {
    background-color: darkgreen;
}

.footer {
    background-color: deeppink;
    position: absolute;
    bottom: 0;
    height: 25px;
    width: 100%;
}

.footer p {
    line-height: 25px;
    margin: 0;
}